pytest==3.0.7                  # tests
six==1.10.0                    # via pytest
appdirs==1.4.3                 # via pytest
packaging==16.8                # via pytest
pyparsing==2.2.0               # via pytest

